@page
@model Rent_a_Car.Pages.Queries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].WantedCar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Query[0].UserWantingTheCar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Query) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WantedCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserWantingTheCar)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
